﻿<#@ template inherits="SAP.Copernicus.ScreenUtil.UxTextTransformation" language="C#" debug="true" #>
<#@ output extension=".xbo" #>
<#@ assembly name="System.dll" #>
<#@ assembly name="System.Core.dll" #>
<#@ assembly name="Microsoft.VisualStudio.Modeling.Sdk.10.0, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" #>
<#@ assembly name="SAP.Copernicus.Model.dll" #>
<#@ assembly name="CopernicusScreenUtil.dll" #>
<#@ assembly name="SAP.Copernicus.TextTemplating.dll" #>
<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Diagnostics" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Collections" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="SAP.Copernicus.TextTemplating" #>
<# string strMashupCategoryName = this.GetProperty("MashupCategoryName"); #>
<# string strSemanticCategory = this.GetProperty("SemanticCategory"); #>
<# string strInforPackage = this.GetProperty("InforPackage"); #>
<# string strDescription = this.GetProperty("Description"); #>
<# string strInPortTypeReference = this.GetProperty("InPortTypeReference"); #>
<?xml version="1.0" encoding="utf-8"?>
<UXComponent name="<#= strMashupCategoryName #>.PB" xmlns="http://www.sap.com/a1s/cd/oberon/uxcomponent-1.0" xmlns:base="http://www.sap.com/a1s/cd/oberon/base-1.0" xmlns:uxc="http://www.sap.com/a1s/cd/oberon/uxcontroller-1.0" xmlns:mashup="http://www.sap.com/a1s/cd/oberon/uxmashup-1.0" componentType="mashupRegistry" AuthorizationClassificationCode="ReuseComponent" id="${9130xnIMIqkaxub7ntdAT0}">
 <uxc:Interface id="4uty4IiuK4IYu$xfRs9veW"/>
 <uxc:Implementation id="oMyzuNwJ7aU_bsHk$XYSXG">
  <uxc:DataModel name="" id="PDbhTPamhaM59g42waH8wm"/>
  <uxc:MashupModel id="2v0cay_lpa2aIAv04IHYiG">
   <mashup:MashupRegistry id="oS7xo_9LrqMtFZrRaPTZZG">
    <mashup:MashupCategories id="I8D8I9mtsaozSzIT$9grCG">  
	 <mashup:MashupCategory name="<#= strMashupCategoryName #>" semanticCategory="" inPortTypePackage="" inPortTypeReference="" outPortTypeReference="" outPortTypePackage="" id="">
      <mashup:DisplayName fallbackValueType="string" textPoolId="displayName" fallbackValue="" id=""/>
      <mashup:Description fallbackValueType="string" textPoolId="description" fallbackValue="" id=""/>
     </mashup:MashupCategory>
    </mashup:MashupCategories>
   </mashup:MashupRegistry>
  </uxc:MashupModel>
 </uxc:Implementation>
 <TextPool>
  <base:TextBlock language="EN" masterLanguage="true" currentLanguage="true">
   <base:TextPoolEntry id="text" textUuid="displayName" text="<#= strMashupCategoryName #>" textCategory="XTIT"/>
   <base:TextPoolEntry id="text" textUuid="description" text="<#= strDescription #>" textCategory="YTXT"/>
  </base:TextBlock>
 </TextPool>
</UXComponent>